<!DOCTYPE html>
<html ng-app="myApp">
<!-- <head>
	<meta charset="UTF-8">
	<title>Lab 1 AngularJS Form</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head> -->
<body ng-controller="myController">
	<form name="myForm">
		<label>Email:</label>
		<input type="email" name="email" ng-model="formData.email" required>
		<div ng-show="myForm.email.$touched && myForm.email.$error.required">Email is required.</div>
		<div ng-show="myForm.email.$touched && myForm.email.$error.email">Invalid email address.</div>

		<label>First Name:</label>
		<input type="text" name="firstName" ng-model="formData.firstName" required>
		<div ng-show="myForm.firstName.$touched && myForm.firstName.$error.required">First name is required.</div>

		<label>Last Name:</label>
		<input type="text" name="lastName" ng-model="formData.lastName" required>
		<div ng-show="myForm.lastName.$touched && myForm.lastName.$error.required">Last name is required.</div>

		<label>Phone Number:</label>
		<input type="tel" name="phoneNumber" ng-model="formData.phoneNumber" ng-pattern="/^(09\d{2}-\d{3}-\d{3})$/" required>
		<div ng-show="myForm.phoneNumber.$touched && myForm.phoneNumber.$error.required">Phone number is required.</div>
		<div ng-show="myForm.phoneNumber.$touched && myForm.phoneNumber.$error.pattern">Invalid phone number format. Phone number must be in the format (09XX-XXX-XXX).</div>

    <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
	</form>
</body>
</html>


<script>
	var app = angular.module('myApp', []);
	app.controller('myController', function($scope) {
		$scope.formData = {};
		$scope.submitForm = function() {
			if ($scope.myForm.$valid) {
				console.log('Form submitted:', $scope.formData);
			} else {
				console.log('Form invalid. Cannot submit.');
			}
		};
	});
</script>



<!-- 

<script> 
  let email = '';
	let firstName = '';
	let lastName = '';
	let phoneNumber = '';
  
	function handleSubmit() {
	  if (!email || !firstName || !lastName || !phoneNumber) {
		alert('Please fill out all fields.');
	  } else if (!isValidEmail(email)) {
		alert('Please enter a valid email address.');
	  } else if (!isValidPhoneNumber(phoneNumber)) {
		alert('Please enter a valid phone number.');
	  } else {
		alert('Form submitted successfully!');
		// Submit form data to server here
	  }
	}
  
	function isValidEmail(email) {
	  // Simple email validation using regex
	  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
	  return emailRegex.test(email);
	}
  
	function isValidPhoneNumber(phoneNumber) {
	  // Simple phone number validation using regex
	  const phoneNumberRegex = /^\d{10}$/;
	  return phoneNumberRegex.test(phoneNumber);
	}
</script>  

-->
